// конфигурация для Prettier (форматирование кода)
// Prettier – это средство для форматирования кода, которое нацелено на использование жёстко заданных правил по оформлению программ

{
  "singleQuote": true,
  "trailingComma": "all"
}